main
    .our-work
        .our-work__red-square
        h2 Почему мы?
        .our-work__sections
            section
                h3 Стратегия
                p Определяем бизнес-проблему и находим маркетинговое решение
            section
                h3 Реклама
                p Создаем и обновляем бренды, позиционирование, логотипы и фирменные стили
            section
                h3 Брендинг
                p Создаем и реализируем креативные рекламные кампании и материалы
            section
                h3 Приложения
                p Разрабатываем UX/UI и дизайн, контролируем техническую реализацию
            section
                h3 Digital и SMM
                p Разрабатываем стратегию, идею и активации. Ведём социальные сети
            section
                h3 Media
                p Доносим аудитории бренда необходимое сообщение по лучшей цене
    .cases
        #casesLeftButton.cases-arrows  &lt;
        #casesText.cases__text
            h2 Кейсы
            p
            p
            a(href='projectPage.html' id='casesButton') Читать дальше
        #casesRightButton.cases-arrows &gt;
    .partners
        h2 Лучшие решения
        h3 для корпораций и среднего бизнеса
        .partners-container
            #partnersLeftButton.partners-arrows  &lt;
            #partnersLogos.partners__logos
                img(src='./img/partners/partners1.png' alt='first partner')
                img(src='./img/partners/partners2.png' alt='second partner')
                img(src='./img/partners/partners3.png' alt='third partner')
                img(src='./img/partners/partners4.png' alt='fourth partner')
                img(src='./img/partners/partners5.png' alt='fifth partner')
                img(src='./img/partners/partners6.png' alt='sixth partner')
                img(src='./img/partners/partners7.png' alt='seventh partner')
                img(src='./img/partners/partners8.png' alt='eighths partner')
            #partnersRightButton.partners-arrows &gt;
        .partners__circles
            div
            div
            div
    #preloadSliderImages
        img(src='./img/layer1.jpg' alt='a')
        img(src='./img/layer2.jpg' alt='b')
        img(src='./img/layer3.jpg' alt='c')
        img(src='./img/layer4.jpg' alt='d')