main
    div.projects__top-block
        h1 Наши проекты
        div.filters
            input(type='checkbox' name='filters-checkbox')#filters-checkbox
            label(for='filters-checkbox').filters__category Категории
            ul.filters__submenu
                li
                    input(type='checkbox' value='finances')#filters-finances
                    label(for='filters-finances').filters__types
                        span
                        | Финансы
                li
                    input(type='checkbox' value='services')#filters-services
                    label(for='filters-services').filters__types
                        span
                        |Услуги
                li
                    input(type='checkbox' value='retail')#filters-retail
                    label(for='filters-retail').filters__types
                        span
                        |Ритейл
                li
                    input(type='checkbox' value='pharmacy')#filters-pharmacy
                    label(for='filters-pharmacy').filters__types
                        span
                        |Фармацевтика
    div#projects-Container