@import "~normalize.css";
@import "styles";
@import "header";
@import "footer";
body {
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.5;
  color:$color-red;
}
.header {
  background: rgba(255, 255, 255, 1);
  box-shadow: $box-shadow2;
  color:$color-red;
}
.navigation__buttons_href{
  a {
    color: $color-black;
  }
}
.header__nav_submenu{
  background-color: white;
}
main{
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  padding: 80px 5%;
  align-items: left;
}
.about__first-block{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $color-white;
  padding: 50px 5%;
  box-sizing: border-box;
}
.about__first-block h2{
  font-size: 250%;
  color: $color-black;
}
.about__first-block_text{
  color: $color-black;
  min-width: 300px;
  width: 60%;
  font-size: 150%;
  font-weight: lighter;
}
.about__first-block_red-square{
  width: 160px;
  height: 15px;
  background-color: $color-red;
}
.about__first-block_boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 80px 0 0 0;
  img{
    width: 100px;
  }
  section{
    display: flex;
    padding: 10px;
    width: 260px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $grey2;
  }
}
@media screen and (max-width: 800px){
  .about__first-block_boxes{
    flex-wrap: wrap;
    justify-content: center;
  }
}
