@import "~normalize.css";
@import "styles";
@import "footer";
body {
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.5;
  color:$color-white;
}
a{
  text-decoration: none;
}
h1{
  font-weight: 600;
  font-size: 220%
}
.hero{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#heroVideo {
  position: fixed;
  right: 0;
  left:0;
  top: 0;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}
@import 'header';
.hero__text{
  font-size: 140%;
  width: 80%;
  padding: 5%;
  z-index: 0;
}
.hero__text a{
  color: $color-red;
}
main{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  color: $color-black;
}
.our-work{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 700px;
  background-color: $color-white;
  padding: 50px 5%;
  box-sizing: border-box;
}
.our-work h2{
  font-size: 300%;
}
.our-work h3{
  font-size: 200%;
  margin-bottom: 10px;
}
.our-work__red-square{
  width: 160px;
  height: 15px;
  background-color: $color-red;
}
.our-work__sections{
  display: flex;
  margin-top: auto;
  padding-bottom: 50px;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}
.our-work__sections section{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 33%;
}
.cases{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: center $color-white;
  background-size: cover;
}
.cases__text{
  width: 80%;
  line-height: 1;
  font-size: 220%;
  color: $color-white;
    a{
    display: inline-block;
    padding: 12px 40px;
    font-size: 50%;
    line-height: 1.1;
    font-weight: bold;
    white-space: nowrap;
    color: $color-white;
    text-decoration: none;
    background-color: $color-red;
    cursor: pointer;
    transition: opacity 200ms;
  }
  a:hover{
    opacity: 0.9;

  }
}
.cases-arrows {
  padding: 10px;
  font-size: 200%;
  font-weight: 400;
  font-family: "PT Sans Narrow", sans-serif;
  color: $color-red;
  text-align: center;
  cursor: pointer;
}
.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-white;
  width: 100%;
  padding: 80px 8%;
  box-sizing: border-box;
  font-size: 200%;
  h2{
    margin: 0;
  }
  h3{
    margin: 0;
    font-size: 80%;
    font-weight: lighter;
  }
}
.partners-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.partners-arrows{
  cursor: pointer;
  font-family: "PT Sans Narrow", sans-serif;
  display: block;
  width: 30px;
  text-align: center;
}
.partners__logos {
    width:99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 70px 0 20px 0;
    box-sizing: border-box;
  flex-wrap: wrap;
    img {
      width: 22%;
      margin: 10px 2px;
      filter: grayscale(100%);
    }
}
.partners__circles{
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  div{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $grey2;
  }
}
@media screen and (max-width: 1024px) {
  .header__nav{

  }

}
@media screen and (max-width: 600px){
  .partners__logos{
    img{
      width: 50%;
      margin: 20px 0;
    }
  }

}


