@import "~normalize.css";
@import "styles";
@import "header";
@import "footer";
body {
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.5;
  color:$color-black;
}
main{
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  padding: 80px 5%;
}
.header {
  background: rgba(255, 255, 255, 1);
  box-shadow: $box-shadow2;
  color:$color-red;
}
.navigation__buttons_href{
  a {
    color: $color-black;
  }
}
.filters{
  position: relative;
  padding-bottom: 40px;
}
.filters__category{
  font-size: 120%;
  color: $color-red;
}
#filters-checkbox + label:after{
  content: '>';
  display: inline-block;
  transform: rotate(90deg);
  padding: 0 10px;
  color: $grey2;
}
#filters-checkbox{
  display: none;
}
#filters-checkbox+ label{
  box-sizing: border-box;
  padding:20px 33px;
  cursor: pointer;
  user-select: none;
}
#filters-checkbox:checked + label{
  background-color: $footer-background;
}
#filters-checkbox:checked + label:after {
  content: '-';
  transform: rotate(0);
}
.filters__submenu{
  display: none;
  text-transform: none;
  position: absolute;
  top: 10px;
  left: 0;
  list-style: none;
  background-color: $footer-background;
  line-height: 1.8;
  padding:32px 32px 32px 31px;
}
.filters__submenu li>input{
display: none;
}
.filters__submenu li>label{
  color:$color-white;
  font-size: 90%;
  cursor:pointer;
  user-select: none;
}

.filters__submenu li>label:before{

}
.filters__submenu li>label span{
  display:inline-block;
  width:19px;
  height:19px;
  margin-right: 5px;
  vertical-align:middle;
  background:url("../img/unchecked-checkbox.png");
  background-size: cover;
}
.filters__submenu li>input:checked + label span{
  background:url("../img/checked-checkbox.png");
  background-size: cover;
}
#filters-checkbox:checked ~ .filters__submenu{
  display: block;
}
#projects-Container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
#projects-Container img{
  width: 30%;
  min-width: 300px;
  margin: 10px;
  box-shadow: $box-shadow2;
  cursor: pointer;
  box-sizing: border-box;
  transition: opacity 300ms, box-shadow 300ms, transform 300ms;
}
#projects-Container img:hover{
  box-shadow: $box-shadow1;
  opacity: 0.9;
  transform: scale(1.02);
}
.header__nav_submenu{
  background-color: white;
}
@media screen and (max-width: 800px){
  #projects-Container img{
    width: 80%;
  }
}
