@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700&subset=cyrillic');
$color-red: #f00;
$color-white:#fff;

$color-black: #282828;
$grey2: #a5a5a5;
$color-button: #1BA39C;
$border-button: 20px;
$font-main: 'Fira Sans', sans-serif;
$font-color:#696969;
$box-shadow1:2px 2px 6px $grey2;
$box-shadow2:0px 1px 9px -2px $grey2;
@mixin buttonmix($color, $border){
  background-color: $color;
  border-radius: $border;
}