@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700&subset=cyrillic');
$color-red: #f00;
$color-white:#fff;

$color-black: #282828;
$grey2: #696969;
$footer-background:#28323c;
$font-main: 'Fira Sans', sans-serif;
$box-shadow1:2px 2px 8px -1px $grey2;
$box-shadow2:0px 1px 9px -5px $footer-background;
@mixin buttonmix($color, $border){
  background-color: $color;
  border-radius: $border;
}