doctype html
html(lang="ru")
    include templates/head
    body
        div.hero#hero
            include templates/header
            video#heroVideo(autoplay muted loop playsinline)
                source(src='videos/mainProjectX.mp4' type='video/mp4')
            section.hero__text
                h1
                    | Мы - креативное
                    br
                    | рекламное агенство
                p Делаем хорошую рекламу
                a(href='about.html') О нас
        include templates/indexMain
        include templates/footer
